.custom-center{
    display: flex;
  justify-content: center;
  align-items: center;
};

.or-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  width: 400px;
  height: 550px;
  background-image: url('C:\Users\tejas\Desktop\MyProjects\SkillLab_Design-Challenge\food_bug\public\Assets\LoginBg.avif'); /* Replace with the actual path to your image */
  background-size: cover;
  /* filter: blur(5px); Add a blur effect */
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color:white; /* Adjust the alpha value to control the background opacity */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 190px;
}
